{% extends 'apps/basebody.html' %}
{% block link %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock link %}
	<!-- 动态区 -->
	<!-- <div class="dynamics content">
		<ul class="dynamics-title">
			<li><h2>最新动态</h2></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="dynamics-new">
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
		</ul>
	</div> -->
	<!-- 主体 -->
	    {% block main_left %}
			<ul class="question-con">
				<li>
					<div class="qc-user left">info</div>
					<div class="qc-q left"></div>
				</li>
			</ul>
			<ul class="question-con">
				<li>
					<div class="qc-user left">info</div>
					<div class="qc-q left"></div>
				</li>
			</ul>
        {% endblock main_left %}



