{% extends 'apps/basebody.html' %}

{% block bodylink %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock bodylink %}

	<!-- 动态区 -->
	<!-- <div class="dynamics content">
		<ul class="dynamics-title">
			<li><h2>最新动态</h2></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="dynamics-new">
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
		</ul>
	</div> -->
	<!-- 主体 -->
	    {% block main_left %}

            {% for question in questions %}
                <ul class="question-con">
                    <li>
                        <div class="qc-user left">{{ question.q_user.user_name }}</div>
                        <div class="qc-q left">
                            <a href="/question/{{ question.id }}">{{ question.q_title }}</a>
                        </div>
                    </li>
                </ul>
            {% endfor %}


        {% endblock main_left %}



