<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习论坛</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<!-- 头部 -->
	<div class="header">
		<div class="content">
			<div class="header-left left">
				<span class="logo left">学习论坛</span>
				<form action="#" class="search right clearfix">
					<input type="text" class="search-text left">
					<input type="submit" class="search-submit right" value="搜 索">
				</form>
			</div>
			<div class="header-right right">
				<a href="" class="ask-btn">提问</a>
				<a href="" class="user-info">登陆/注册</a>
			</div>
		</div>
	</div>
	<!-- 占位 -->
	<div class="stand"></div>
	<!-- 动态区 -->
	<!-- <div class="dynamics content">
		<ul class="dynamics-title">
			<li><h2>最新动态</h2></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="dynamics-new">
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
		</ul>
	</div> -->
	<!-- 主体 -->
	<div class="content main">
		<div class="main-left left">
			<ul class="question-con">
				<li>
					<div class="qc-user left">info</div>
					<div class="qc-q left"></div>
				</li>
			</ul>
			<ul class="question-con">
				<li>
					<div class="qc-user left">info</div>
					<div class="qc-q left"></div>
				</li>
			</ul>
		</div>
		<div class="main-right right">
			<div class="daily-bonus">
				右侧内容，待添加...........
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer">
		......................
	</div>
</body>
</html>