<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习论坛</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/question.css">
</head>
<body>
	<!-- 头部 -->
	<div class="header">
		<div class="content">
			<div class="header-left left">
				<span class="logo left">学习论坛</span>
				<form action="#" class="search right clearfix">
					<input type="text" class="search-text left">
					<input type="submit" class="search-submit right" value="搜 索">
				</form>
			</div>
			<div class="header-right right">
				<a href="" class="ask-btn">提问</a>
				<a href="" class="user-info">登陆/注册</a>
			</div>
		</div>
	</div>
	<!-- 占位 -->
	<div class="stand"></div>
	<!-- 主体 -->
	<div class="content main">
		<div class="main-left left">

			<!-- 问题详情 -->
			<div class="question clearfix">
				<div class="ask-user left">用户信息</div>
				<div class="question-con left">
					<div class="question-title">问题标题</div>
					<div class="question-detail">问题内容</div>
				</div>
				
			</div>

			<!-- 回答详情 -->
			<div class="answers">
				<div class="answer-con clearfix">
					<div class="answer-user left">回答者</div>
					<div class="answer-detail left">回答详细</div>
				</div>
				<div class="answer-con clearfix">
					<div class="answer-user left">回答者</div>
					<div class="answer-detail left">回答详细</div>
				</div>
			</div>

			<!-- 回答内容 -->
			<form action="#" class="answer-form">
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<input type="submit" value="回 复" class="answer-sub">
			</form>
		</div>

		<!-- 主体右侧 -->
		<div class="main-right right">
			<div class="daily-bonus">
				右侧内容，待添加...........
			</div>
		</div>
	
	</div>
	<!-- 底部 -->
	<div class="footer">
		......................
	</div>
</body>
</html>