{% extends 'apps/basebody.html' %}
	<!-- 动态区 -->
	<!-- <div class="dynamics content">
		<ul class="dynamics-title">
			<li><h2>最新动态</h2></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="dynamics-new">
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
			<li><a href="">问题1</a></li>
		</ul>
	</div> -->
	<!-- 主体 -->
	    {% block main_left %}
			<!-- 问题详情 -->
			<div class="question clearfix">
				<div class="ask-user left">用户信息</div>
				<div class="question-con left">
					<div class="question-title">问题标题</div>
					<div class="question-detail">问题内容</div>
				</div>

			</div>

			<!-- 回答详情 -->
			<div class="answers">
				<div class="answer-con clearfix">
					<div class="answer-user left">回答者</div>
					<div class="answer-detail left">回答详细</div>
				</div>
				<div class="answer-con clearfix">
					<div class="answer-user left">回答者</div>
					<div class="answer-detail left">回答详细</div>
				</div>
			</div>

			<!-- 回答内容 -->
			<form action="#" class="answer-form">
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<input type="submit" value="回 复" class="answer-sub">
			</form>

        {% endblock main_left %}






