{% extends 'apps/base.html' %}

{% block link %}
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="/static/js/register.js"></script>
{% endblock link %}

{% block main %}
    <!-- 主体 -->
	<div class="content main clearfix">
		<div class="register-con">
			<ul class="register-tab clearfix">
				<li class="left active">登录</li>
				<li class="left">注册</li>
			</ul>
			<!-- 登录表单 -->
			<div class="form-con">
				<form action="login_post/" class="login-form" method="post">
					<table>
						<tbody>
							<tr>
								<td class="form-left">用户名：</td>
								<td class="form-right">
									<input type="text" name="usename" id="login_usename">
								</td>
							</tr>
							<tr>
								<td colspan="2"  class="tips">
								</td>
							</tr>
							<tr>
								<td class="form-left">密码：</td>
								<td class="form-right"><input type="password" name="pwd" id="login_pwd"></td>
							</tr>
							<tr>
								<td colspan="2"  class="tips" id="login_tip">
									<!-- 用户名或密码错误！ -->
								</td>
							</tr>
							<tr>
								<td class="form-left"></td>
                                <td class="form-right"><button type="button" id="log_submit">登 陆</button></td>
							</tr>
						</tbody>
					</table>
				</form>

				<!-- 注册表单 -->
				<form action="register_post/" class="register-form" method="post">
					<table>
						<tbody>
							<tr>
								<td class="form-left">用户名：</td>
								<td class="form-right">
									<input type="text" name="re_usename" id="re_usename">
								</td>
							</tr>
							<tr>
								<td colspan="2"  class="tips" id="username_tip">
									<!-- 只能包含字母、数字、'_',且必须以字母开头,长度8-20位! -->
								</td>
							</tr>
							<tr>
								<td class="form-left">密码：</td>
								<td class="form-right">
									<input type="password" name="re_pwd" id="re_pwd">
								</td>
							</tr>
							<tr>
								<td colspan="2"  class="tips" id="pwd_tip">
									<!-- 只能包含字母、数字、'_',且必须以字母开头,长度8-20位！ -->
								</td>
							</tr>
							<tr>
								<td class="form-left">确认密码：</td>
								<td class="form-right">
									<input type="password" name="re_cpwd" id="re_cpwd">
								</td>
							</tr>
							<tr>
								<td colspan="2"  class="tips" id="cpwd_tip">
									<!-- 两次密码不一致！ -->
								</td>
							</tr>
							<!-- <tr>
								<td class="form-left">邮箱：</td>
								<td class="form-right"><input type="text"  name="eAddr" id="eAddr"></td>
							</tr> -->
							<tr>
								<td class="form-left"></td>
								<td class="form-right"><button type="button" id="reg_submit">注 册</button></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>

	</div>

{% endblock main %}
