.question,.answers{
	width: 100%;
	margin-bottom: 10px;
	
}

.question{
	min-height: 200px;
	border-bottom: 1px solid gray;
}	

.ask-user{
	min-height: 200px;
}
.ask-user,.answer-user{
	width: 18%;
	background:rgba(159, 181, 199, 0.5);
	text-align: center;
	line-height: 40px;

}

.question-con,.answer-detail{
	width: 82%;
	text-indent: 10px;
}



.question-title{
	height: 40px;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
	font-weight: 700;
	text-indent: 10px;
}

.question-detail{
	padding-bottom: 10px;
	text-indent: 10px;
}

.answer-con{
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

.answer-form textarea{
	float: left;
	width: 89%;
}

.answer-sub{
	display: inline-block;
	margin-top: 114px;
	float: right;
	width: 10%;
	background: #3385ff;
	color: #fff;
}